/**IMPORT UTILITIES **/
@use "./utilities" as *;


/* ***FOOTER SECTION*** */
footer .wrapper {
    background-color: $blackTwo;  
    @include footing($brownGrey);
    padding: 0;
    padding-top: 30px;

    .topFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 80px;

        .address {
            flex-basis: 30%;
            // border: 1px solid palevioletred;

            h2 {
                margin: 0;
                margin-bottom: 30px;
                @include footerHeading($green);
                font-size: 30px;
            }

            p {
                margin: 0;
                padding: 0;
                line-height: 20px;
            }

            hr {
                width: 90%;
                margin: 0;
                padding: 0;
                color: #99999946;
            }
        }

        .recentPosts {
            flex-basis: 30%;
            // border: 1px solid yellow;

            h3 {
                margin: 0;
                @include footerHeading($bgWhite);
                font-size: 0.7rem;
            }

            ul {
                margin-top: 20px;

                li {
                    line-height: 30px;
                    border-top: 1px solid #99999946;

                    &:first-child {
                        border: none;
                    }

                    a {
                        color: $brownGrey;                        

                        &:hover {
                            color: $bgWhite;
                        }
                    }
                }
            }
        }

        .subscribe {
            flex-basis: 30%;
            // border: 1px solid orangered;

            h3 {
                margin: 0;
                @include footerHeading($bgWhite);
                font-size: 0.7rem;
            }

            p {
                line-height: 20px;
            }

            input[type=email] {
                display: inline;
                margin: 0;
                padding: 5px 10px;
                border: none;
                background-color: #99999977;
                color: $bgWhite;
                min-height: 35px;
                width: 80%;
            }
            
            button {
                margin: 0;
                border: none;
                padding: 7px;
                background-color: $green;
                color: $bgWhite;
                position: relative;
                left: -5px;
                min-height: 35px;
                min-width: 35px;
                cursor: pointer;

                &:hover {
                    // background-color: $bgWhite;
                    color: $black;
                }
            }

            .socialMedia {
                margin-top: 10px;                
                ul {
                    border-top: 1px solid #99999977;
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    // border: 1px solid blue;   

                    li {
                        flex-basis: 10%;
                        a {
                            color: $bgWhite;
                            font-size: 1rem;

                            &:hover {
                                color: $green;
                            }
                        }                        
                    }
                }
            }
        }
    }

    .bottomFooter {
        background-color: $black;
        width: 100%;
        min-height: 50px;
        margin: 0;
        padding-left: 50px;

        p {
            margin: 0;
            padding: 0;    
            
            span {
                color: $green;
            }
        }
    }    
}
