
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* ***IMPORT GOOGLE FONTS*** */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Raleway:wght@400;700&display=swap');

/* Google fonts  ****
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
*/

/* ***GLOBAL VARIABLES*** */
$bgWhite: #F6F6F6;
$brownGrey: #999999;
$black: #2E2E2E;
$blackTwo: #333333;
$green: #6bb102;
$bgGreen: #DDED9A;

/* ***GLOBAL MIXINS*** */
/* Title text */
@mixin titleText($color) {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.3rem; /* 46px */
    line-height: 24px;
    letter-spacing: 1.1px;
    color: $color;
    text-transform: uppercase;
}

/* Quotes */
@mixin quotes($color) {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.2rem; /* 24px */
    line-height: 36px;
    letter-spacing: 0.6px;
    text-align: center;
    color: $color;
}

/* Footer heading */
@mixin footerHeading($color) {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.9rem; /* 18px */
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $color;
    text-transform: uppercase;
}

/* Body Style */
@mixin bodyStyle($color) {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.9rem; /* 18px */
    line-height: 36px;
    letter-spacing: 0.5px;
    color: $color;
}

/* Body Text */
@mixin bodyText($color) {
    font-family: 'Lora', serif;
    font-size: 0.7rem; /* 14px */
    line-height: 24px;
    letter-spacing: 0.3px;
    color: $color;
}

/* Footing */
@mixin footing($color) {
    font-family: 'Lora', serif;
    font-size: 0.65rem; /* 13px */
    line-height: 44px;
    letter-spacing: 0.3px;
    color: $color;
}

/* **GLOBAL STYLES** */
html {
    font-size: 125%;  
    @include bodyStyle($blackTwo);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;   
}

figure {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: white;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 0;

    border: 1px solid greenyellow;
}

hr {
    color:$green;
    width: 10%;
    text-align: center;
}

/* ***HEADER STYLES*** */
.home .wrapper {
    background-image: url(../assets/home-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65vh;
    padding: 10px 20px;

    .navigation {
        display: inline-block;
        width: 100%;
        position: relative;

        .logo {
            float: left;
            h1 {
                @include titleText($black);
            }            
        }

        .toggle {
            display: none;
            width: 35px;
            position: absolute;
            right: 20px;
            top: 25px;
            cursor: pointer;

            span {
                width: 100%;
                height: 2px;
                background-color: $black;
                float: left;
                margin-bottom: 8px;
            }
        }

        nav {
            display: block;
            float: right;

            ul li {
                display: inline-block;
                padding: 5px;
                cursor: pointer;

                a {
                    display: inline-block;
                    font-size: 0.7rem;
                    color: $black;
                    text-transform: uppercase;

                    &:hover {
                        display: inline-block;
                        color: $green;
                    }                    
                }

                a.active {
                    color: $green;
                }
            }
        }
    }
} 

/* ***RECIPES SECTION*** */
.recipes article {
    display: flex;
    flex-direction: row;
    padding: 0;

    .text {
        // border: 1px solid purple;
        width: 50%;
        text-align: center;        
        padding: 50px 20px;

        h2 {
            margin-top: 50px;
            text-transform: uppercase;
            @include bodyStyle($black);
        }

        p {
            margin: 20px 0;
            @include bodyText($brownGrey);
        }

        button {
            margin: 0;
            border: 0;
            padding: 5px 20px;
            background-color: $green;
            text-transform: uppercase;
            @include bodyText(white);
        }        
    }

    figure {
        // border: 1px solid red;
        width: 50%;
        height: auto;

        img {
            height: 100%;
            object-fit: cover;
        }        
    }
}

/* ***SHOP SECTION*** */
.shop article {
    display: flex;
    flex-direction: row;

    .text {
        width: 50%;
        background-color: $bgWhite;
        @include bodyText($brownGrey);

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;    
            padding: 10px;        

            // border: 1px solid red;
        }
        ul li {
            display: flex;
            flex-direction: row;
            width: 45%;
            margin: 10px 0;

            // border: 1px solid blue;

            .icon {
                margin: 15px 5px;
                padding: 5px;

                i {
                    color: $black;
                    font-size: 1rem;
                }
            }

            .textShop {
                h3 {
                    text-transform: uppercase;
                    margin: 10px 0;
                    @include bodyStyle($black);
                }
                p {
                    margin: 0;
                    padding: 0;
                    @include bodyText($brownGrey);
                }
            }
        }

    }

    figure {
        // border: 1px solid red;
        width: 50%;
        height: auto;

        img {
            height: 100%;
            object-fit: cover;
        }        
    }
}

/* ***ABOUT SECTION*** */
.about { 
    article {
        width: 60%;
        margin: 0 auto;
        padding: 80px 10px;
        // border: 1px solid blue;

        figure {
            margin: 0 auto;
            width: 65%;
            // border: 1px solid orangered;

            .topImg {
                width: 20%;
                position: relative;
                float: right;
                top: 30px;
                right: -30px;
                // border: 1px solid green;
            }
        }

        .text {
            text-align: center;

            h3 {
                text-transform: uppercase;
                margin: 30px 0 0 0;            
            }

            p {
                @include bodyText($brownGrey);
            }
        }
    }

    /* ***ABOUT SECTION - GALLERY*** */
    .galleryWrapper ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        // border: 1px solid orange;

        li {
            flex-basis: 33.3%;
        }
    }
}

/* ***NUTRITION SECTION*** */
.nutrition .wrapper {
    background-color: $bgGreen;
    text-align: center;
    padding: 50px;

    h2 {
        text-transform: uppercase;
        @include bodyStyle($black);
        margin: 0;
    }

    q {
        display: inline-block;
        font-size: 4rem;
        color: $bgWhite;
        font-family: 'Lora', serif;
        font-style: italic;
        // border: 1px solid blue;

        &::before {
            content: open-quote;        
            position: relative;
            float: left;
            top: 10px;
            left: 45px;
        }

        &::after {
            content: close-quote;      
            float: right;
            position: relative;
            right: 45px;
            top: -10px;
        }

        p {
            width: 80%;
            margin: 0 auto; 
            @include quotes($blackTwo);
            // border: 1px solid red;
        }
    }

    button {
        background-color: transparent;
        color: $bgWhite;
        margin: 0 20px;
        border: 0;
        padding: 5px;
        font-size: 2.3rem;      
        font-weight: bold;  
        cursor: pointer;
    }

    button.back {
        color: #f6f6f691;
    }
}

/* ***FOOTER SECTION*** */
footer .wrapper {
    background-color: $blackTwo;
    padding: 0;
    @include footing($brownGrey);

    .topFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px;

        .address {
            flex-basis: 30%;
            // border: 1px solid palevioletred;

            h2 {
                margin: 0;
                @include footerHeading($green);
            }

            p {
                margin: 0;
                padding: 0;
            }

            hr {
                width: 90%;
                margin: 0;
                padding: 0;
                color: #99999946;
            }
        }

        .recentPosts {
            flex-basis: 38%;
            // border: 1px solid yellow;

            h3 {
                margin: 0;
                @include footerHeading($bgWhite);
                font-size: 0.7rem;
            }

            ul {
                margin-top: 20px;

                li {
                    border-top: 1px solid #99999946;

                    &:first-child {
                        border: none;
                    }

                    a {
                        color: $brownGrey;

                        &:hover {
                            color: $bgWhite;
                        }
                    }
                }
            }
        }

        .subscribe {
            flex-basis: 28%;
            // border: 1px solid orangered;

            h3 {
                margin: 0;
                @include footerHeading($bgWhite);
                font-size: 0.7rem;
            }

            input[type=email] {
                display: inline;
                margin: 0;
                padding: 5px 10px;
                border: none;
                background-color: #99999977;
                color: $bgWhite;
                min-height: 35px;
                max-width: 180px;
            }
            
            button {
                margin: 0;
                border: none;
                padding: 7px;
                background-color: $green;
                color: $bgWhite;
                position: relative;
                left: -5px;
                min-height: 35px;
                min-width: 35px;
                cursor: pointer;

                &:hover {
                    background-color: $bgGreen;
                    color: $black;
                }
            }

            .socialMedia {
                margin-top: 10px;                
                ul {
                    border-top: 1px solid #99999977;
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    // border: 1px solid blue;   

                    li {
                        flex-basis: 10%;
                        a {
                            color: $bgWhite;
                        }                        
                    }
                }
            }
        }
    }

    .bottomFooter {
        background-color: $black;
        width: 100%;
        min-height: 50px;
        margin: 0;
        padding-left: 50px;

        p {
            margin: 0;
            padding: 0;    
            
            span {
                color: $green;
            }
        }
    }    
}

/* *************** MEDIA QUERIES ************* */
/* ***PORTRAIT TABLET AND SMALL DESKTOPS*** */
@media (max-width: 940px){
    .home .wrapper .navigation {
        .toggle {
            display: block;
        }

        .logo h1 {
            font-size: 2rem;
        }

        nav {
            display: none;
            width: 100%;
            padding-top: 20px;
            margin-top: 30px;

            ul li {
                padding: 0;
                width: 100%;  
                text-align: center;
                background-color: #dced9aef;
                // border-top: 1px solid $black;   
                
                a {
                    width: 100%;
                    padding: 10px;
                    @include bodyStyle($black);

                    &:hover {
                        background-color: $green;
                        color: $bgWhite;
                    }
                }
            }
        }

        nav.show {
            display: block;
        }        
    }

    /* ***FOOTER TO SMALL DESKTOPS*** */
    footer .wrapper .topFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 50px;

        .address, 
        .recentPosts, 
        .subscribe {
            margin: 10px auto;
            width: 80%;
            flex-basis: 30%;
        }

        .subscribe input[type=email] {
            min-width: 300px;
        }
    }
}

/* ***LANDSCAPE PHONE TO PORTRAIT TABLE*** */
@media (max-width: 768px) {
    /* ***RECIPES FOR MEDIUM SCREENS*** */
    .recipes article {
        display: flex;
        flex-direction: column-reverse;

        .text {
            width: 100%;
            padding: 30px;

            // border: 1px solid purple;
            h2 {
                margin: 10px;
            }
        }

        figure {
            width: 100%;

            // border: 1px solid red;
        }
    }

    /* ***SHOP FOR MEDIUM SCREENS*** */
    .shop article {
        display: flex;
        flex-direction: column;

        figure {
            width: 100%;
    
            img {
                height: 100%;   
            }        
        }

        .text {
            width: 100%;
        }
    }

    /* ***ABOUT SECTION FOR MEDIUM SCREENS*** */
    .about article figure .topImg {
        top: 20px;
        right: -20px;      
    }

    /* *** Moving left the open quote ***  */
    .nutrition .wrapper q::before {
        left: 20px;       
    } 
}

/* ***LANDSCAPE PHONES AND DOWN*** */
@media (max-width: 480px) {
    /* ***ABOUT SECTION FOR SMALL SCREENS*** */
    .about article {
        width: 85%;
        margin: 0 auto;
        padding: 50px 0;

        figure {
            margin: 0 auto;
            width: 70%;

            .topImg {
                width: 20%;
                position: relative;
                float: right;
                top: 20px;
                right: -20px;
            }
        }
    }

    /* ***NUTRITION SECTION FOR SMALL SCREENS*** */
    .nutrition .wrapper {
        padding: 20px 10px;

        q {
            &::before {
                left: 10px;
            }
            p { font-size: 0.8rem; }
        }        
    } 

    /* ***FOOTER FOR SMALL SCREENS*** */
    footer .wrapper {
        .topFooter {
            margin: 10px;

            .address, 
            .recentPosts, 
            .subscribe {
                margin: 20px auto;
                width: 100%;
                flex-basis: 30%;
            }

            .subscribe input[type=email] {
                min-width: 300px;
            }
        }
        
        .bottomFooter {
            padding: 5px 10px;
            font-size: 0.5rem;
        }
    }

}


// /* Portrait tablet and small desktops */
// @media (max-width: 940px) {
// }

// /* Landscape phone to portrait tablet */
// @media (max-width: 768px) {
// }

// /* Landscape phones and down */
// @media (max-width: 480px) {
// }




/*************************** IMPROVEMENTS **********************************/
//
// Make a mixin for the <hr> tag - ok (as a global style)
// Include "text-transform: uppercase" on headings mixins - ok
//
/***************************************************************************/


